@model IEnumerable<HAIRDRESSER2.Models.Randevu> // Randevu modelini kullanıyoruz
@{
    ViewBag.Title = "Randevularım";
}

<h2>Randevularım</h2>

<table>
    <thead>
        <tr>
            <th>Randevu ID</th>
            <th>Uzman ID</th>
            <th>Tarih</th>
            <th>Saat</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var randevu in Model)
            {
                <tr>
                    <td>@randevu.Id</td>
                    <td>@randevu.UzmanId</td>
                    <td>@randevu.Tarih.ToShortDateString()</td>
                    <td>@randevu.Saat</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">Hiç randevunuz yok.</td>
            </tr>
        }
    </tbody>
</table>
