@model HAIRDRESSER2.Models.Uzman

<h2 class="text-center mb-4">Yeni Uzman Ekle</h2>

<form asp-action="UzmanEkle" method="post">
    <div asp-validation-summary="All" class="text-danger mb-3"></div>

    <div class="form-group">
        <label asp-for="Ad"></label>
        <input type="text" asp-for="Ad" class="form-control" />
        <span asp-validation-for="Ad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Soyad"></label>
        <input type="text" asp-for="Soyad" class="form-control" />
        <span asp-validation-for="Soyad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Telefon"></label>
        <input type="text" asp-for="Telefon" class="form-control" />
        <span asp-validation-for="Telefon" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Uzmanlık Alanı</label>
        <select asp-for="UzmanlikAlaniId" class="form-control" asp-items="@(ViewBag.UzmanlikAlanlari != null ? new SelectList(ViewBag.UzmanlikAlanlari, "Id", "Ad") : new SelectList(Enumerable.Empty<SelectListItem>()))">
            <option value="">Seçiniz</option>
        </select>
        <span asp-validation-for="UzmanlikAlaniId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success w-100 mt-3">Kaydet</button>
</form>
